@mixin button ($backcol, $ff, $fs, $col, $bradius, $bwidth, $bcolor) {
    background-color: $backcol;
    font-family: $ff;
    font-size: $fs;
    color: $col;
    border-radius: $bradius;
    border-width: $bwidth;
    border-color: $bcolor;

}

.btnPrimary{
    @include button ($primary, none, 32px, $white, 10px, 3px, $white2);
    min-width: 300px;
    min-height: 60px;
}
.btnSecondary{
    display: block;
    min-width: 200px;
    max-width: 300px;
    min-height: 60px;
    background-color: $secondary;
    border-radius: 10px;
    font-family: 'Staatliches', cursive; 
    font-size: 18px;
    color: $white;
    border-width: 3px;
    border-color: $white2;
}
.btnSizeSelector {
    height: 45px;
    width: 45px;
    margin: 5px;
    border-radius: 5px;
    background-color: $white;
    border-color: $terciary;
    font-family: 'Staatliches', cursive;
    font-size: 16px;
}