.mainContacto{
    grid-area: mainForm;
    display: grid;
    grid-template-areas: 
    "heroContacto"
    "fieldset"
    "afterForm"
;
}
.heroContacto{
    grid-area: heroContacto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    h1{
        font-family: $mainFont;
        font-size: 42px;
        text-transform: uppercase;
        margin-top: 30px;
        float: right;
    }
    img{
        display: inline-block;
        max-height: 200px;
        text-align: right;
    }
}
.afterForm{
    grid-area: afterForm;
}
fieldset {
    display: subgrid;
    grid-template-areas: 
        "lInput"
        "lInput"
        "mType"
        "comments"
    ;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    border-width: 0;
}
label {
    font-family: $actionFont;
    color: $secondary;
}
.shortInput{
    display: inline-block;
    grid-area: sInput;
    width: 49%;
    margin-bottom: 20px;
    input{
        width: 100%;
        border-radius: 10px;
        height: 40px;
        background-color: $white2;
        color: $black;
        text-align: left;
        border-color: $terciary;
        
    }
}
.longInput{
    grid-area: lInput;
    width: 98%;
    margin-bottom: 50px;
    input{
        width: 100%;
        float: left;
        border-radius: 10px;
        height: 40px;
        background-color: $white2;
        color: $black;
        text-align: left;
        border-color: $terciary;
    }
}
input[type='email']::placeholder{ 
    text-align: left; 
}
input[type='text']::placeholder{ 
    text-align: left; 
}
.messageType{
    grid-area: mType
    h3{
        font-family: $actionFont; 
        color: $secondary;
    };
}
select {
    width: 350px;
    height: 40px;
    -webkit-appearance: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: $actionFont; 
    border-width: 3px;
    padding: 5px;
    border-color: $terciary;
    background-color: $secondary;
    color:  $white2;
    font-size: 16px;
}
.comments{
    grid-area: comments;
    width: 98%;
    margin-bottom: 20px;
    textarea{
        width: 100%;
        font-family: $actionFont; 
        border-width: 3px;
        padding: 5px;
        border-color: $terciary;
        background-color: $white2;
        color: $black;
        font-size: 16px;
        border-radius: 10px;
    }
    button {
        float: right;
    }
}
.afterForm {
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    p{
        text-align: center;
        font-family: $secondFont;
        font-size: 24px;
    }
    img{
        display: block;
        margin-top: 20px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -100px;
    }
}

@media (max-width: 480px) {
    /* ########## CONTACTO ########## */
    .mainContacto{
        grid-template-columns: 100%;
        max-width: 100%;
        fieldset{
            grid-area: fieldset;
        }  
    }
    fieldset {
        margin-left: auto;
        margin-right: auto;
    }
    /* ########### */
    .afterForm {
        width: 100%;
        padding: 0px 20px 0px 20px;
    }
}

@media (min-width: 481px) and (max-width: 1023px) {
    .mainContacto{
        grid-template-columns: 100%;
        max-width: 100%;
    }
    .mainContacto fieldset{
        grid-area: fieldset;
    }    
    fieldset {
        margin-left: auto;
        margin-right: auto;
    }
    /* ########### */
    .afterForm {
        width: 100%;
        padding: 0px 20px 0px 20px;
    }
}

@media (min-width: 1024px) {
    .mainContacto{
        justify-items: center;
        fieldset{
            grid-area: fieldset;
        }    
    }
    fieldset {
        /*LEFT EMPTY SIMPLY FOR REFERENCE, REGARDING THE OTHER MEDIA QUERIES*/
    }
    /* ########### */
    .afterForm {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }
}