.hero1{
    grid-area: hero;                  /*GRID INDEX*/
    padding: 30px;
}
.bannerImg {
    grid-area: banner;
    width: 100%;    
    border-radius: 10px;
    background-image: url(../assets/background-100.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: nextBanner 30s ease-in-out -10s infinite normal;
}
.titles {
    display: block;
    grid-area: titles;
    padding: 30px;
    align-content: center;
    h1{
        font-family: $mainFont;
        font-size: 42px;
    }
    h2{
        font-family: $secondFont; 
        font-size: 24px;
        margin: 20px 0px 20px 0px;
    }
}
@keyframes nextBanner {
    0% {background-image: url(../assets/banners/banner1.jpg);}
    20% {background-image: url(../assets/banners/banner2.jpg);}
    40% {background-image: url(../assets/banners/banner3.jpg);}
    60% {background-image: url(../assets/banners/banner4.jpg);}
    80% {background-image: url(../assets/banners/banner1.jpg);}
}


/*  ###################################
    ###### MEDIA QUERY SENSITIVE ######
    ################################### */

@media (max-width: 480px) {
    .hero1 {
        display: subgrid;;
        grid-template-areas: 
            "banner"
            "titles"
        ;
        grid-template-columns: 100%;
    } 
    .bannerImg {  /*#### BANNER TRANSITION SMARTPHONE####*/
        height: 30vh;
    }
}
@media (min-width: 481px) and (max-width: 1023px) {
    .hero1 {
        display: subgrid;
        grid-template-areas: 
            "banner"
            "titles"
        ;
        grid-template-columns: 100%;
    }
    .bannerImg {  /*#### BANNER TRANSITION TABLET####*/
        height: 25vh;
    }
}
@media (min-width: 1024px) {
    .hero1 {
        display: grid;
        grid-template-areas: 
            "banner titles"
        ;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    } 
    .bannerImg {  /*#### BANNER TRANSITION DESKTOP####*/
        height: 45vh;
    }
}

